
<h3 id="videoconferencing">Zoom installieren</h3>

{% comment %}
Replace the paragraph below with the relevant installation instructions
if you do not use Zoom
{% endcomment %}
<p>
  Wenn Sie Zoom noch nicht verwendet haben, besuchen Sie die
  <a href="https://zoom.us/download">offizielle Website</a>
  um den Zoom-Client für Ihren Computer herunterzuladen und zu installieren.
</p>


<h4>Set up your workspace</h4>

<p>
  Wie in anderen Carpentry-Workshops,
  lernen Sie, indem Sie mit den Instructoren mit tippen.
  Dazu muss sowohl das Fenster für das Tool,
  das Sie lernen werden (ein Terminal, RStudio, Ihr Webbrowser, etc.)
  und das Fenster für den Zoom-Videokonferenz-Client geöffnet sein.
  Damit Sie beides gleichzeitig sehen können,
  empfehlen wir, eine der folgenden Einstellungsoptionen zu verwenden:
  <ul>
    <li><strong>Zwei Monitore:</strong> Wenn Sie zwei Monitore haben,
      nutzen Sie diese am besten verbunden an einem einzigen Gerät, damit 
      Sie bei Fehlern auch Ihren Bildschirm teilen können.</li>
    <li><strong>Bildschirm aufteilen:</strong> Wenn Sie nur ein Gerät
      und einen Bildschirm haben, probieren Sie zwischen den zwei Fenstern
      (das Videokonferenzprogramm und eines der Tools, die Sie im Workshop verwenden werden)
      während des Workshops) zu wechseln oder die Fenster nebeneinander offen zu halten.
      Probieren Sie es vorher aus, um zu entscheiden, was für Sie am besten funktioniert.</li>
  </ul>
   Dieser <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">Blog-Beitrag</a> enthält ausführliche Informationen darüber, wie Sie Ihren Bildschirm so einrichten können, sodass Sie den Workshop-Inhalten gut folgen können.
</p>
