<p>
  <a href="{{site.lc_site}}">Library Carpentry</a>
  wird von Menschen erstellt, die in Bibliotheken und informationsbezogenen Bereichen arbeiten. Dabei werden folgende Konzepte und Kenntisse vermittelt:
</p>
<ul>
  <li>Automatisierung sich wiederholender, langweiliger und fehleranfälliger Aufgaben</li>
  <li>nachhaltige und wiederverwendbare Daten zu erstellen, zu pflegen und zu analysieren</li>
  <li>Effektiv mit IT- und Systemkollegen zusammenarbeiten</li>
  <li>Besseres Verständnis für den Einsatz von Software in der Forschung</li>
  <li>und vieles mehr...</li>
</ul>
<p align="center">
  <em>
    Library Carpentry führt Sie in die Grundlagen der Datenverarbeitung ein
    und bietet Ihnen eine Plattform für weiteres selbstgesteuertes Lernen.
    Weitere Informationen darüber, was wir unterrichten und warum, finden Sie in unserem Paper
    "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>
