<div id="shell-setup"> {% comment %} Beginn des Abschnitts 'shell'. {% endcomment %}
  <h3>Die Bash-Shell</h3>
  <p>
    Die Bash ist eine weit verbreitete Shell, die es Ihnen ermöglicht, einfache Aufgaben
    schneller zu erledigen. Anweisungen zur Einrichtung finden Sie in
    der <a href="https://librarycarpentry.org/lc-shell/index.html#setup">Lesson</a>.
  </p>
</div>

<div id="python-setup">
  <h3>Python</h3>
  <p>
    Python ist eine beliebte Sprache für die Forschung und eignet sich auch für die allgemeine Programmierung. Eine Anleitung finden Sie in der <a href="https://librarycarpentry.org/lc-python-intro/index.html">Lesson</a>.
  </p>
</div>

<div id="git-setup"> {% comment %} Beginn des Abschnitts "Git". GitHub-Browser-Kompatibilität
  ist gegeben unter https://help.github.com/articles/supported-browsers/{% endcomment %}
  <h3>Git</h3>
  <p>
    Git ist ein Versionskontrollsystem, mit dem Sie verfolgen können, wer wann welche Änderungen vorgenommen hat
    und bietet Optionen zur einfachen Aktualisierung einer gemeinsamen oder öffentlichen Version Ihres Codes
    auf <a href="https://github.com/">https://github.com</a>.
  </p>
  <p>
    Befolgen Sie die Anweisungen in
    der <a href="https://librarycarpentry.org/lc-git/index.html#setup">Lesson</a>, um
    Git auf Ihrem System zu installieren.
  </p>
  <p>
    Sie benötigen ein Konto bei <a href="https://github.com/">github.com</a>
    für Teile der Git Lesson. Ein GitHub Konto kostenlos.
    Wir empfehlen Ihnen, ein GitHub-Konto zu erstellen, wenn Sie noch keines haben.
    Bitte überlegen Sie, welche persönlichen Informationen Sie preisgeben möchten. Sie
    können zum Beispiel die folgenden Informationen
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">Hinweise
    zur Geheimhaltung Ihrer E-Mail-Adresse</a> bei GitHub lesen.
  </p>
</div>
